html, body{
    height: 100%;
}
 body{
    background-image: linear-gradient(45deg, rgb(202, 134, 7), rgb(248, 224, 87));
}
p{
    color: white;
    font-size: 20px;
}
.form{
    display:block;
    background: #FFFFFF;
    width: 300px;
    margin: 50px auto 0;  
    border-radius: 10px;
    padding: 80px;
    font-size: 20px;
}
h2{
    color:rgb(168, 118, 11)
}
#name, #sexo, #data{
    border-radius: 3px;         
    width: 100%;
    display:block;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
button{
    padding: 15px;
    border-radius: 15px;
    font-size: 20px;
    background-color: rgb(128, 78, 13);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(31, 24, 14);
    border:none;
    cursor: pointer;
    width: 100%;
}