body{
    background-image: linear-gradient(to top, rgb(236, 215, 25), rgb(204, 206, 105));
}
p{
    color:#888580;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#numero, button{
    position:absolute;
    display: block;
    width: 50%;
    box-sizing: border-box;
    padding: 12px;
    align-items: center;
    left: 25%;   
 }
 button{
    margin-top: 20px;
    background-color: #888580;
    border: none;
    cursor: pointer;
    font-size: larger;
 }